@model IEnumerable<TrialsSurveys.Models.PatientModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var clinic = ((List<TrialsSurveys.Models.PatientModel>) Model)[0].ClinicId;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Clinic : @clinic</h2>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Patients</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table id="patientTable" class="table table-striped">
    <tr>
        <th style="display: none;">
            @Html.DisplayNameFor(model => model.ClinicId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr class="clickRow" id="@item.PatientId" data-url="@Url.Action("Index", "Surveys", new { patientId = item.PatientId })">
        <td style="display: none;">
            @Html.DisplayFor(modelItem => item.ClinicId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



<script>
    $(document).ready( function () {
        //$('#patientTable').DataTable();

        //alert("Started");
        $('.clickRow').click(function() {
            //alert("Handler for .click() called for:" + this.id);
            //http://localhost:59328/Surveys?patientId=DSA999
            var url = $(this).attr("data-url");
            //alert(url);
            window.location.href = url; 
        });
    } );
</script>